In [10]:
#Importing the libraries
import pandas as pd
import numpy as np

In [11]:
#We will see the military spending data of G20 Countries
#we took the data from this site "https://www.sipri.org/databases/milex"
#Among csv,excel and other file formates i took excel which is flexible for me,
#based on your convenience you can use better one.

militarydata = pd.ExcelFile("SIPRI-Milex-data-1949-2018_0.xlsx")

#Excel sheet has 10 sheets but we will be using only three sheets with this information Per capita,Share of GDP, Current USD and Country.

#Delete header and footer as they are unnecessary and take the data from 2009 to 2018 as it is recent one.
usd = militarydata.parse('Current USD',skip_footer=8,skiprows = 5)
usd1 = usd[['Country',2009,2010,2011,2012,2013,2014,2015,2016,2017,2018]]
usd1.head()

,Country,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,5280.59,5671.31,8652.24,9326.29,10161.6,9724.38,10412.7,10217.1,10073.4,9583.72
3,Libya,. .,. .,. .,2987.41,3964.69,3755.66,. .,. .,. .,. .
4,Morocco,3055.07,3160.8,3342.7,3402.7,4065.55,4048.61,3268.36,3327.03,3461.46,3696.86

In [12]:
#Remove the data which is not useful and dropping the NAN's
usd2 = usd1[usd1!=". ."]
usd2 = usd2[usd!="xxx"]
usd2 = usd2.dropna(how='any',axis=0)

#Setting the index name as Country
usd3 = usd2.set_index('Country')
usd3.head()

#Viewing the military data for G20 Nations
G20_military_countries = usd3.loc[['Turkey','South Africa','Russia','Japan','Indonesia',  
                                    'Germany','Canada','Australia',
                                   'Saudi Arabia','Mexico','Italy','India','France','China','Brazil','Argentina',],:]
G20_military_countries

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,
Turkey,16352.3,17939.4,17304.9,17958.2,18662.6,17772.2,15880.9,17854,17824,18967.1
South Africa,3592.69,4188.17,4594.15,4489.59,4118.21,3892.47,3488.87,3169.76,3638.94,3639.88
Russia,51532.1,58720.2,70237.5,81469.4,88352.9,84696.5,66418.7,69245.3,66527.3,61387.5
Japan,51465.2,54655.5,60762.2,60011.5,49023.9,46881.2,42106.1,46471.3,45387,46618
Indonesia,3304.46,4663.37,5838.03,6531.1,8384.03,6929.26,7639.1,7385.41,8178.14,7437.2
Germany,47470.1,46255.5,48140.3,46470.9,45930.5,46102.7,39812.6,41579.5,45381.7,49470.6
Canada,18936.2,19315.7,21393.7,20452.1,18515.7,17853.7,17937.6,17782.8,21343.4,21620.6
Australia,18960.1,23217.7,26597.2,26216.6,24825.3,25783.7,24045.6,26382.9,27691.1,26711.8
Saudi Arabia,41267.2,45244.5,48530.9,56497.9,67020,80762.4,87185.9,63672.8,70400,67554.7
Mexico,4855.51,5897.2,6471.39,6978.78,7837.61,8663.38,7739.52,6019.77,5781.44,6567.51
Italy,34054.5,32020.8,33828.8,29781,29957.4,27701,22180.8,25033,26447.9,27807.5
India,38722.2,46090.4,49633.8,47216.9,47403.5,50914.1,51295.5,56637.6,64559.4,66510.3
France,66884,61781.7,64600.9,60035.2,62417.1,63613.6,55342.1,57358.4,60417.5,63799.7
China,105644,115712,137967,157390,179880,200772,214093,216031,227829,249997
Brazil,25648.8,34002.9,36936.2,33987,32874.8,32659.6,24617.7,24224.7,29283.1,27766.4
Argentina,2981.85,3475.35,4051.93,4563.22,5137.97,4979.44,5482.62,4509.65,5459.64,4144.99

In [13]:
#Taking the data from 2009 to 2018 and adding a new column 'TOTAL' to it.
G20_military_countries['TOTAL'] = np.sum(G20_military_countries, axis =1)
G20_military_countries['TOTAL']

Country
Turkey          1.765156e+05
South Africa    3.881272e+04
Russia          6.985875e+05
Japan           5.033819e+05
Indonesia       6.629008e+04
Germany         4.566144e+05
Canada          1.951516e+05
Australia       2.504320e+05
Saudi Arabia    6.281363e+05
Mexico          6.681211e+04
Italy           2.888129e+05
India           5.189838e+05
France          6.162502e+05
China           1.805317e+06
Brazil          3.020013e+05
Argentina       4.478667e+04
Name: TOTAL, dtype: float64

In [14]:

#keeping the data in descending order by making ascending order as 'False' and 
#checking the military expenditure of 10 years.
#this gives military data in millions

G20_military_countries.sort_values(ascending = False,by = 'TOTAL')

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,TOTAL
Country,,,,,,,,,,,
China,105644,115712,137967,157390,179880,200772,214093,216031,227829,249997,1.805317e+06
Russia,51532.1,58720.2,70237.5,81469.4,88352.9,84696.5,66418.7,69245.3,66527.3,61387.5,6.985875e+05
Saudi Arabia,41267.2,45244.5,48530.9,56497.9,67020,80762.4,87185.9,63672.8,70400,67554.7,6.281363e+05
France,66884,61781.7,64600.9,60035.2,62417.1,63613.6,55342.1,57358.4,60417.5,63799.7,6.162502e+05
India,38722.2,46090.4,49633.8,47216.9,47403.5,50914.1,51295.5,56637.6,64559.4,66510.3,5.189838e+05
Japan,51465.2,54655.5,60762.2,60011.5,49023.9,46881.2,42106.1,46471.3,45387,46618,5.033819e+05
Germany,47470.1,46255.5,48140.3,46470.9,45930.5,46102.7,39812.6,41579.5,45381.7,49470.6,4.566144e+05
Brazil,25648.8,34002.9,36936.2,33987,32874.8,32659.6,24617.7,24224.7,29283.1,27766.4,3.020013e+05
Italy,34054.5,32020.8,33828.8,29781,29957.4,27701,22180.8,25033,26447.9,27807.5,2.888129e+05
Australia,18960.1,23217.7,26597.2,26216.6,24825.3,25783.7,24045.6,26382.9,27691.1,26711.8,2.504320e+05
Canada,18936.2,19315.7,21393.7,20452.1,18515.7,17853.7,17937.6,17782.8,21343.4,21620.6,1.951516e+05
Turkey,16352.3,17939.4,17304.9,17958.2,18662.6,17772.2,15880.9,17854,17824,18967.1,1.765156e+05
Mexico,4855.51,5897.2,6471.39,6978.78,7837.61,8663.38,7739.52,6019.77,5781.44,6567.51,6.681211e+04
Indonesia,3304.46,4663.37,5838.03,6531.1,8384.03,6929.26,7639.1,7385.41,8178.14,7437.2,6.629008e+04
Argentina,2981.85,3475.35,4051.93,4563.22,5137.97,4979.44,5482.62,4509.65,5459.64,4144.99,4.478667e+04
South Africa,3592.69,4188.17,4594.15,4489.59,4118.21,3892.47,3488.87,3169.76,3638.94,3639.88,3.881272e+04

In [15]:
#This gives Share of GDp data with respect to country and year.

GDPdata = militarydata.parse('Share of GDP',skip_footer=8,skiprows=5)
GDPdata1 = GDPdata[['Country',2009,2010,2011,2012,2013,2014,2015,2016,2017,2018]]

#Remove the data which is not useful and dropping the NAN's
GDPdata2 = GDPdata1[GDPdata1!=". ."]
GDPdata2 = GDPdata2[GDPdata!="xxx"]
GDPdata2 = GDPdata2.dropna(how='any',axis=0)
GDPdata2.head()
#Choicing the index name as 'Country'
GDPdata3 = GDPdata2.set_index('Country')
GDPdata3.head()

#Selecting the military spending of all G20 countries with respect to Share of GDP
GDP_G20 = GDPdata3.loc[['Turkey','South Africa','Russia','Japan','Indonesia',  
                         'Germany','Canada','Australia','Saudi Arabia','Mexico',
                        'Italy','India','France','China','Brazil','Argentina',],:]


GDP_G20

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,
Turkey,0.0253659,0.0232413,0.0207854,0.0205476,0.0196325,0.0190246,0.0184706,0.0206754,0.0206814,0.0250436
South Africa,0.01214,0.0111581,0.0110326,0.0113279,0.0112327,0.0110944,0.0109918,0.0107553,0.0104366,0.0098171
Russia,0.0392273,0.0358386,0.0342345,0.0368597,0.0384623,0.0410418,0.0486276,0.0545241,0.0423341,0.0392951
Japan,0.00983777,0.00958851,0.00986806,0.00967427,0.00950866,0.00966999,0.0095805,0.00939583,0.00930768,0.0092384
Indonesia,0.00612411,0.00617587,0.00653777,0.00711549,0.0091877,0.00777855,0.00886971,0.00790695,0.00804337,0.00716443
Germany,0.0138891,0.0135365,0.0128111,0.0131126,0.0122399,0.0118251,0.0117746,0.011899,0.0123414,0.0123377
Canada,0.0138104,0.0119715,0.0119608,0.011211,0.0100486,0.00992271,0.0115013,0.0115846,0.012934,0.0125263
Australia,0.0192918,0.018624,0.0176939,0.0167992,0.0164953,0.0178129,0.0195845,0.0209285,0.0200797,0.0189156
Saudi Arabia,0.096172,0.0856568,0.0723005,0.076766,0.0897613,0.106779,0.133257,0.0987274,0.102514,0.0877472
Mexico,0.00539474,0.00557496,0.00548195,0.00581037,0.00614983,0.0065912,0.0066171,0.0055923,0.00502372,0.00538884
Italy,0.0155854,0.0150682,0.0148614,0.0143674,0.0140613,0.0128738,0.0121062,0.0133961,0.0136653,0.013327
India,0.028935,0.0270746,0.026515,0.0253735,0.0247273,0.0249677,0.0240513,0.0250647,0.0250962,0.0241903
France,0.0248634,0.0233791,0.0225766,0.0223693,0.022204,0.0223036,0.0226989,0.0232732,0.0234968,0.0229394
China,0.0206269,0.0190744,0.0183416,0.0183645,0.0186694,0.0190585,0.0190709,0.0192495,0.0189651,0.0186594
Brazil,0.0153863,0.0153941,0.0141185,0.0137866,0.0132945,0.0133024,0.0136552,0.0135015,0.0141953,0.014749
Argentina,0.00886509,0.00814878,0.00764287,0.00784825,0.00837736,0.00878101,0.00850129,0.0081314,0.00856138,0.00854561

In [16]:
#Military Percentage value is given by multiplying the Share of GDP to military spending
military_percent_GDP = GDP_G20 * 100
military_percent_GDP

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,
Turkey,2.53659,2.32413,2.07854,2.05476,1.96325,1.90246,1.84706,2.06754,2.06814,2.50436
South Africa,1.214,1.11581,1.10326,1.13279,1.12327,1.10944,1.09918,1.07553,1.04366,0.98171
Russia,3.92273,3.58386,3.42345,3.68597,3.84623,4.10418,4.86276,5.45241,4.23341,3.92951
Japan,0.983777,0.958851,0.986806,0.967427,0.950866,0.966999,0.95805,0.939583,0.930768,0.92384
Indonesia,0.612411,0.617587,0.653777,0.711549,0.91877,0.777855,0.886971,0.790695,0.804337,0.716443
Germany,1.38891,1.35365,1.28111,1.31126,1.22399,1.18251,1.17746,1.1899,1.23414,1.23377
Canada,1.38104,1.19715,1.19608,1.1211,1.00486,0.992271,1.15013,1.15846,1.2934,1.25263
Australia,1.92918,1.8624,1.76939,1.67992,1.64953,1.78129,1.95845,2.09285,2.00797,1.89156
Saudi Arabia,9.6172,8.56568,7.23005,7.6766,8.97613,10.6779,13.3257,9.87274,10.2514,8.77472
Mexico,0.539474,0.557496,0.548195,0.581037,0.614983,0.65912,0.66171,0.55923,0.502372,0.538884
Italy,1.55854,1.50682,1.48614,1.43674,1.40613,1.28738,1.21062,1.33961,1.36653,1.3327
India,2.8935,2.70746,2.6515,2.53735,2.47273,2.49677,2.40513,2.50647,2.50962,2.41903
France,2.48634,2.33791,2.25766,2.23693,2.2204,2.23036,2.26989,2.32732,2.34968,2.29394
China,2.06269,1.90744,1.83416,1.83645,1.86694,1.90585,1.90709,1.92495,1.89651,1.86594
Brazil,1.53863,1.53941,1.41185,1.37866,1.32945,1.33024,1.36552,1.35015,1.41953,1.4749
Argentina,0.886509,0.814878,0.764287,0.784825,0.837736,0.878101,0.850129,0.81314,0.856138,0.854561

In [17]:


#Per capita military spending data for 10 countries .
##Delete header and footer as they are unnecessary and take the data from 2009 to 2018 as it is recent one


military_Per_Capita = militarydata.parse('Per capita',skip_footer=8,skiprows=6)
military_Per_Capita_1 = military_Per_Capita[['Country',2009,2010,2011,2012,2013,2014,2015,2016,2017,2018]]

#Remove the data which is not useful and dropping the NAN's
military_Per_Capita_2 = military_Per_Capita_1[military_Per_Capita_1!=". ."]
military_Per_Capita_2 = military_Per_Capita_2[military_Per_Capita!="xxx"]
military_Per_Capita_2 = military_Per_Capita_2.dropna(how='any',axis=0)
military_Per_Capita_2.head()

#Setting the index name as Country
military_Per_Capita3= military_Per_Capita_2.set_index('Country')
military_Per_Capita3.head()

#We need to choose the Per Capita for the countries mentioned below
military_Per_Capita_G20countries = military_Per_Capita3.loc[['Turkey','South Africa','Russia','Japan','Indonesia',  
                         'Germany','Canada','Australia','Saudi Arabia','Mexico',
                        'Italy','India','France','China','Brazil','Argentina',],:]

military_Per_Capita_G20countries

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,
Turkey,229.219,248.032,235.731,240.824,246.249,230.716,202.895,224.543,220.744,231.541
South Africa,70.4852,81.1902,87.9037,84.7121,76.593,71.3696,63.0998,56.5872,64.1594,63.4143
Russia,360.131,410.19,490.266,568.045,615.283,589.146,461.6,480.989,462.028,426.407
Japan,400.299,425.163,472.838,467.283,382.065,365.794,329.018,363.772,356.02,366.536
Indonesia,13.8065,19.2285,23.7601,26.2416,33.2657,27.1596,29.5903,28.2841,30.9788,27.8761
Germany,586.299,571.799,594.81,573.246,565.194,565.749,487.256,507.595,552.666,601.149
Canada,560.412,565.304,619.414,586.008,525.187,501.442,498.965,490.021,582.767,585.072
Australia,872.17,1049.62,1183.16,1148.75,1072.33,1098.36,1010.34,1093.56,1132.53,1078.3
Saudi Arabia,1547.82,1649.71,1718.64,1942.42,2238.14,2624.14,2762.79,1972.78,2137.34,2013.29
Mexico,42.0372,50.2664,54.3403,57.7578,63.9617,69.7413,61.478,47.1989,44.7607,50.226
Italy,570.983,536.094,566.078,498.562,502.069,464.894,372.761,421.219,445.552,469.001
India,31.8892,37.4421,39.795,37.3828,37.0757,39.3506,39.1852,42.7721,48.2082,49.1195
France,1066.94,980.247,1019.85,943.358,976.489,991.01,858.587,886.245,929.793,978.024
China,78.1353,85.0975,100.892,114.449,130.085,144.429,153.249,153.923,161.636,176.671
Brazil,131.603,172.782,185.902,169.46,162.418,159.929,119.525,116.66,139.917,131.677
Argentina,73.0857,84.3042,97.2692,108.398,120.78,115.851,126.276,102.849,123.323,92.7522

In [18]:
#In millions we have GDP data of G20 Countries
#we took the data from world bank website and url is "https://data.worldbank.org/indicator/NY.GDP.MKTP.CD"

GDPdata = pd.read_excel("Until2018_GDP_US$.xls",index_col=0,sheet_name='Data',skiprows=3)
GDP_G20 = GDPdata.loc[['Turkey','South Africa','Japan','Indonesia',  
                         'Germany','Canada','Australia','Saudi Arabia','Mexico',
                        'Italy','India','France','China','Brazil','Argentina'],
                  ['2009','2010','2011','2012','2013','2014','2015','2016','2017','2018']]
GDP_G20_Millions = GDP_G20/1000000
GDP_G20_Millions

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,
Turkey,6.446399e+05,7.719018e+05,8.325237e+05,8.739822e+05,9.505794e+05,9.341859e+05,8.597969e+05,8.637216e+05,8.515492e+05,7.665091e+05
South Africa,2.959365e+05,3.753494e+05,4.164189e+05,3.963279e+05,3.666432e+05,3.506362e+05,3.175368e+05,2.957466e+05,3.488716e+05,3.662982e+05
Japan,5.231383e+06,5.700098e+06,6.157460e+06,6.203213e+06,5.155717e+06,4.850414e+06,4.389476e+06,4.926667e+06,4.859951e+06,4.970916e+06
Indonesia,5.395801e+05,7.550942e+05,8.929691e+05,9.178699e+05,9.125241e+05,8.908148e+05,8.608542e+05,9.318774e+05,1.015423e+06,1.042173e+06
Germany,3.418005e+06,3.417095e+06,3.757698e+06,3.543984e+06,3.752514e+06,3.898727e+06,3.381389e+06,3.495163e+06,3.693204e+06,3.996759e+06
Canada,1.371153e+06,1.613543e+06,1.789141e+06,1.823967e+06,1.842018e+06,1.801480e+06,1.552900e+06,1.526706e+06,1.646867e+06,1.709327e+06
Australia,9.278052e+05,1.146138e+06,1.396650e+06,1.546152e+06,1.576184e+06,1.467484e+06,1.351520e+06,1.210028e+06,1.330803e+06,1.432195e+06
Saudi Arabia,4.290979e+05,5.282072e+05,6.712388e+05,7.359748e+05,7.466471e+05,7.563503e+05,6.542699e+05,6.449355e+05,6.885861e+05,7.824835e+05
Mexico,9.000454e+05,1.057801e+06,1.180490e+06,1.201090e+06,1.274443e+06,1.314564e+06,1.170565e+06,1.077828e+06,1.158071e+06,1.223809e+06
Italy,2.185160e+06,2.125058e+06,2.276292e+06,2.072823e+06,2.130491e+06,2.151733e+06,1.832273e+06,1.869202e+06,1.946570e+06,2.073902e+06
India,1.341887e+06,1.675615e+06,1.823050e+06,1.827638e+06,1.856722e+06,2.039127e+06,2.103588e+06,2.290432e+06,2.652551e+06,2.726323e+06
France,2.690222e+06,2.642610e+06,2.861408e+06,2.683825e+06,2.811078e+06,2.852166e+06,2.438208e+06,2.471286e+06,2.586285e+06,2.777535e+06
China,5.101702e+06,6.087165e+06,7.551500e+06,8.532231e+06,9.570406e+06,1.043853e+07,1.101554e+07,1.113795e+07,1.214349e+07,1.360815e+07
Brazil,1.667020e+06,2.208872e+06,2.616202e+06,2.465189e+06,2.472806e+06,2.455994e+06,1.802214e+06,1.796275e+06,2.053595e+06,1.868626e+06
Argentina,3.329765e+05,4.236274e+05,5.301633e+05,5.459824e+05,5.520251e+05,5.263197e+05,5.947493e+05,5.575314e+05,6.426959e+05,5.184751e+05

In [19]:
#GDP Per Person of G20 countries
#we took the data from world bank website and url is "https://data.worldbank.org/indicator/NY.GDP.MKTP.CD"

GDP_Per_Person = pd.read_excel("Until2018_GDP_PC_US$.xls",index_col=0,sheet_name='Data',skiprows=3)

GDP_Per_Person_20 = GDP_Per_Person.loc[['Turkey','South Africa','Japan','Indonesia',  
                         'Germany','Canada','Australia','Saudi Arabia','Mexico',
                        'Italy','India','France','Brazil','Argentina'],
                  ['2008','2009','2010','2011','2012','2013','2014','2015','2016','2017']]

GDP_Per_Person_20

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Name,,,,,,,,,,
Turkey,10850.871936,9036.268076,10672.400365,11340.822270,11720.313014,12542.720926,12127.461458,10984.802882,10862.726426,10546.152563
South Africa,5688.508806,5805.998362,7276.376756,7967.678159,7478.136578,6819.062302,6429.023950,5742.987800,5279.730472,6151.077955
Japan,39339.297573,40855.175635,44507.676386,48167.997268,48603.476650,40454.447458,38109.412113,34567.745675,38972.340639,38428.097317
Indonesia,2160.527605,2254.445592,3113.480635,3634.276805,3687.953996,3620.663981,3491.595887,3334.549075,3570.284615,3846.864323
Germany,45699.198323,41732.707253,41785.556913,46810.327959,44065.248908,46530.911428,48042.563435,41323.921502,42232.574208,44469.909061
Canada,46596.335991,40773.454364,47447.476024,52082.210760,52496.694870,52418.315062,50633.208822,43525.370187,42348.945461,45032.119908
Australia,49535.257874,42709.803303,51936.888712,62411.785447,67864.689862,67990.290030,62327.555939,56561.412382,49896.681101,53799.938090
Saudi Arabia,20037.832339,16094.293098,19259.587257,23770.747386,25303.094621,24934.386142,24575.403038,20732.861722,19982.085631,20849.291369
Mexico,9765.717028,7792.247730,9016.457927,9912.582362,9940.468561,10400.563158,10582.410526,9298.242878,8450.494010,8910.333177
Italy,40640.183858,36976.845534,35849.373198,38334.683850,34814.125117,35370.275258,35396.665724,30180.321515,30668.981429,31952.975921
India,991.484630,1090.317765,1345.770153,1461.671957,1446.985410,1452.195373,1576.004018,1606.038285,1717.473878,1942.097401
France,45334.110915,41575.416178,40638.334004,43790.735399,40874.715956,42592.951519,43008.652570,36613.375216,36870.219134,38476.658636
Brazil,8787.610658,8553.381368,11224.154083,13167.472892,12291.466852,12216.904464,12026.619391,8750.222996,8639.365743,9821.407686
Argentina,8953.359275,8161.306966,10276.260498,12726.908359,12969.707124,12976.636425,12245.256449,13698.293438,12654.354999,14398.358771

In [20]:
#Population of G20 Countries
##we took the data from world bank website and url is "https://data.worldbank.org/indicator/NY.GDP.MKTP.CD"

Populationdata = pd.read_excel("Until2018_Total_Population.xls",index_col=0,sheet_name='Data',skiprows=3)
Population_G20 = Populationdata.loc[['Turkey','South Africa','Japan','Indonesia',  
                         'Germany','Canada','Australia','Saudi Arabia','Mexico',
                        'Italy','India','France','Brazil','Argentina'],
                  ['2009','2010','2011','2012','2013','2014','2015','2016','2017']]
Population_G20

,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Name,,,,,,,,,
Turkey,7.133918e+07,7.232691e+07,7.340946e+07,7.456987e+07,7.578733e+07,7.703063e+07,7.827147e+07,7.951243e+07,8.074502e+07
South Africa,5.097082e+07,5.158466e+07,5.226352e+07,5.299821e+07,5.376740e+07,5.453957e+07,5.529122e+07,5.601547e+07,5.671716e+07
Japan,1.280470e+08,1.280700e+08,1.278330e+08,1.276290e+08,1.274450e+08,1.272760e+08,1.271410e+08,1.269945e+08,1.267858e+08
Indonesia,2.393405e+08,2.425241e+08,2.457075e+08,2.488832e+08,2.520323e+08,2.551311e+08,2.581621e+08,2.611155e+08,2.639914e+08
Germany,8.190231e+07,8.177693e+07,8.027498e+07,8.042582e+07,8.064560e+07,8.098250e+07,8.168661e+07,8.234867e+07,8.269500e+07
Canada,3.362857e+07,3.400527e+07,3.434278e+07,3.475054e+07,3.515237e+07,3.553535e+07,3.583251e+07,3.626460e+07,3.670808e+07
Australia,2.169170e+07,2.203175e+07,2.234002e+07,2.274248e+07,2.314590e+07,2.350414e+07,2.385078e+07,2.421081e+07,2.459893e+07
Saudi Arabia,2.666149e+07,2.742568e+07,2.823802e+07,2.908636e+07,2.994448e+07,3.077672e+07,3.155714e+07,3.227569e+07,3.293821e+07
Mexico,1.155052e+08,1.173189e+08,1.190900e+08,1.208283e+08,1.225360e+08,1.242216e+08,1.258909e+08,1.275404e+08,1.291633e+08
Italy,5.909536e+07,5.927742e+07,5.937945e+07,5.953972e+07,6.023395e+07,6.078914e+07,6.073058e+07,6.062750e+07,6.055142e+07
India,1.214270e+09,1.230981e+09,1.247236e+09,1.263066e+09,1.278562e+09,1.293859e+09,1.309054e+09,1.324171e+09,1.339180e+09
France,6.470704e+07,6.502751e+07,6.534278e+07,6.565979e+07,6.599866e+07,6.631609e+07,6.659337e+07,6.685977e+07,6.711865e+07
Brazil,1.948960e+08,1.967963e+08,1.986867e+08,2.005610e+08,2.024086e+08,2.042131e+08,2.059621e+08,2.076529e+08,2.092883e+08
Argentina,4.079941e+07,4.122389e+07,4.165688e+07,4.209674e+07,4.253992e+07,4.298152e+07,4.341776e+07,4.384743e+07,4.427104e+07

In [21]:
#In millions we have Population data of G20 Countries
PopulationData_Millions = Population_G20/1000000
PopulationData_Millions

,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Name,,,,,,,,,
Turkey,71.339185,72.326914,73.409455,74.569867,75.787333,77.030628,78.271472,79.512426,80.745020
South Africa,50.970818,51.584663,52.263516,52.998213,53.767396,54.539571,55.291225,56.015473,56.717156
Japan,128.047000,128.070000,127.833000,127.629000,127.445000,127.276000,127.141000,126.994511,126.785797
Indonesia,239.340478,242.524123,245.707511,248.883232,252.032263,255.131116,258.162113,261.115456,263.991379
Germany,81.902307,81.776930,80.274983,80.425823,80.645605,80.982500,81.686611,82.348669,82.695000
Canada,33.628571,34.005274,34.342780,34.750545,35.152370,35.535348,35.832513,36.264604,36.708083
Australia,21.691700,22.031750,22.340024,22.742475,23.145901,23.504138,23.850784,24.210809,24.598933
Saudi Arabia,26.661492,27.425676,28.238020,29.086357,29.944476,30.776722,31.557144,32.275687,32.938213
Mexico,115.505228,117.318941,119.090017,120.828307,122.535969,124.221600,125.890949,127.540423,129.163276
Italy,59.095365,59.277417,59.379449,59.539717,60.233948,60.789140,60.730582,60.627498,60.551416
India,1214.270132,1230.980691,1247.236029,1263.065852,1278.562207,1293.859294,1309.053980,1324.171354,1339.180127
France,64.707044,65.027507,65.342775,65.659789,65.998660,66.316092,66.593366,66.859768,67.118648
Brazil,194.895996,196.796269,198.686688,200.560983,202.408632,204.213133,205.962108,207.652865,209.288278
Argentina,40.799407,41.223889,41.656879,42.096739,42.539925,42.981515,43.417765,43.847430,44.271041

In [22]:
#Health Per Person of G20 Countries spending amount in US dollars.
###we took the data from world bank website and url is "https://data.worldbank.org/indicator/NY.GDP.MKTP.CD"


Health_Per_Person = pd.read_excel("Until2018_Health_PC.xls",index_col=0,sheet_name='Data',skiprows=3)
Health_Per_Person_G20 = Health_Per_Person.loc[['Turkey','South Africa','Japan','Indonesia',  
                         'Germany','Canada','Australia','Saudi Arabia','Mexico',
                        'Italy','India','France','Brazil','Argentina'],
                  ['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]
Health_Per_Person_G20

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,
Turkey,416.884706,512.734525,570.680980,500.071604,539.328806,531.659655,524.817836,552.405481,527.202842,454.608292
South Africa,362.463642,385.999993,372.355113,413.074083,539.567615,597.359448,579.748563,526.499575,509.833261,470.796993
Japan,2754.157447,2772.455448,3213.398809,3685.825237,4060.190083,5087.102201,5212.069380,4336.149947,4099.465080,3732.562266
Indonesia,45.361829,57.050494,60.666738,63.904085,107.491965,121.471749,124.473534,122.041519,120.079190,111.761744
Germany,3746.156110,4240.497982,4730.123037,4742.252717,4696.737702,5030.805251,4761.253315,5103.486548,5293.384484,4591.846096
Canada,3710.006373,4125.389372,4389.263347,4290.851273,4987.548682,5292.441914,5343.612160,5286.740903,5028.982333,4507.550519
Australia,3177.485519,3794.238045,4088.804277,3997.509689,4952.776147,5876.878483,6047.020069,5838.389894,5637.559721,4934.047418
Saudi Arabia,544.327217,574.455256,575.125565,657.687624,670.962495,859.550351,991.667674,1091.317588,1248.805293,1194.100455
Mexico,501.037570,542.785954,556.534658,477.648850,538.744767,565.129192,580.748407,617.874698,593.398448,534.810930
Italy,2830.181814,3088.470097,3489.985726,3324.373620,3214.546282,3387.575618,3125.611468,3195.553285,3190.088143,2700.425800
India,29.651600,35.963478,37.993600,38.412412,45.250772,48.722833,49.051403,56.218824,57.151140,63.317742
France,3693.584291,4168.034547,4614.265430,4523.594551,4385.429864,4725.351304,4447.746434,4679.114650,4779.179428,4026.147179
Brazil,484.001823,600.408660,704.905757,719.961527,894.941419,1029.311397,960.783780,975.935405,1014.092105,780.395982
Argentina,380.102685,465.151885,567.328010,576.811181,698.603496,806.859949,864.505354,920.812880,845.054687,997.931375

In [23]:
#Health Expenditure data of all G20 countries in million dollars

HealthExpenditureData = Health_Per_Person_G20 * Population_G20
HealthExpenditureData1_Millions = HealthExpenditureData/1000000
HealthExpenditureData1_Millions

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Name,,,,,,,,,,,,
Turkey,NaN,NaN,NaN,35674.700637,39007.988161,39028.845551,39135.596250,41865.338108,40610.765980,35582.860204,NaN,NaN
South Africa,NaN,NaN,NaN,21054.723890,27833.413574,31220.105060,30725.637827,28308.511152,27806.087334,26030.942487,NaN,NaN
Japan,NaN,NaN,NaN,471958.864145,519988.543989,650299.535599,665211.202905,552620.629974,521763.517499,474561.699040,NaN,NaN
Indonesia,NaN,NaN,NaN,15294.834135,26069.394570,29846.521020,30979.375532,30758.400100,30635.937858,28852.647942,NaN,NaN
Germany,NaN,NaN,NaN,388401.437899,384084.790313,403847.805990,382927.716389,411573.760287,428671.508942,375092.345811,NaN,NaN
Canada,NaN,NaN,NaN,144295.196693,169602.959503,181757.168320,185693.434813,185841.472314,178706.637278,161516.862568,NaN,NaN
Australia,NaN,NaN,NaN,86712.780916,109118.325885,131289.606354,137524.202744,135134.794482,132505.981660,117680.899223,NaN,NaN
Saudi Arabia,NaN,NaN,NaN,17534.933333,18401.600000,24272.000000,28844.000000,32678.933333,38434.133333,37682.400000,NaN,NaN
Mexico,NaN,NaN,NaN,55170.939377,63204.965524,67301.245037,70170.846818,75711.874858,73712.904694,67327.855468,NaN,NaN
Italy,NaN,NaN,NaN,196455.072444,190550.000451,201152.373663,186098.022242,192480.790375,193922.714760,163998.430498,NaN,NaN
India,NaN,NaN,NaN,46643.045112,55702.826117,60768.872304,61955.151970,71879.263982,73945.533406,82886.341554,NaN,NaN
France,NaN,NaN,NaN,292708.431641,285173.571171,308767.567069,292038.092366,308815.296857,316936.502632,268114.692674,NaN,NaN
Brazil,NaN,NaN,NaN,140317.618912,176121.132221,204510.472428,192695.739449,197537.750236,207090.925902,160732.001560,NaN,NaN
Argentina,NaN,NaN,NaN,23533.554154,28799.152959,33611.267285,36392.856254,39171.310835,36321.730720,43327.949940,NaN,NaN

In [24]:
#Formatting the countries in order based on Health Expenditure data in Millions
HealthExpenditureData_Millions['Total'] = np.sum(HealthExpenditureData_Millions,axis=1)
HealthExpenditureData_Millions['Total']
HealthExpenditureData_Millions.sort_values(ascending=False,by='Total')

NameError: name 'HealthExpenditureData_Millions' is not defined

In [25]:
#Health Percent Data of G20 countries and removing header and footer.
#we took the data from world bank website and url is "https://data.worldbank.org/indicator/NY.GDP.MKTP.CD"


HealthPercentData = pd.read_excel("Until2018_Health_%GDP.xls",index_col=0,sheet_name='Data',skiprows=3)
HealthPercentData_G20 = HealthPercentData.loc [['Turkey','South Africa','Japan','Indonesia',  
                         'Germany','Canada','Australia','Saudi Arabia','Mexico',
                        'Italy','India','France','Brazil','Argentina'],
                  ['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]
HealthPercentData_G20

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,
Turkey,5.188443,5.280757,5.259400,5.533908,5.053656,4.687890,4.477850,4.404118,4.347266,4.138533
South Africa,6.587062,6.431316,6.545761,7.114587,7.415357,7.497317,7.752553,7.721369,7.925304,8.201155
Japan,7.807843,7.890461,8.199514,9.058297,9.156773,10.616718,10.790653,10.791594,10.835803,10.898156
Indonesia,2.859771,3.075343,2.807959,2.834581,3.452469,3.342391,3.375138,3.370694,3.440357,3.347431
Germany,10.128486,9.984562,10.180502,11.167144,11.034898,10.747211,10.805037,10.968000,11.050367,11.151569
Canada,9.207055,9.298435,9.465102,10.574113,10.562243,10.219664,10.222931,10.115272,9.987017,10.435622
Australia,7.983217,8.057317,8.261526,8.587602,8.467782,8.585724,8.725502,8.805844,9.079250,9.445333
Saudi Arabia,3.549651,3.487430,2.870199,4.086465,3.493014,3.625356,3.929937,4.390346,5.098504,5.833172
Mexico,5.714462,5.819359,5.743962,6.175593,6.019952,5.755392,5.924072,6.014017,5.691027,5.864490
Italy,8.459687,8.162836,8.561831,8.976537,8.953612,8.834643,8.956061,8.952267,9.011441,8.996320
India,3.634778,3.517542,3.514679,3.485380,3.272121,3.246450,3.328474,3.748426,3.629525,3.888257
France,10.045368,9.961600,10.102235,10.806621,10.713047,10.725864,10.827697,10.929331,11.100077,11.066443
Brazil,8.259312,8.209353,8.021441,8.417393,7.973474,7.817211,7.816547,7.988362,8.431892,8.911484
Argentina,6.415635,6.419172,6.270604,6.997006,6.755996,6.343036,6.257964,6.387981,6.407625,6.834533

In [26]:
#EducationPercentageData to check which country has good percentage of education with respect to GDP share
##we took the data from world bank website and url is "https://data.worldbank.org/indicator/NY.GDP.MKTP.CD"



EducationPercentData = pd.read_excel("Until2018_Education_%GDP.xls",index_col=0,sheet_name='Data',skiprows=3)
EducationPercentData_G20 = EducationPercentData.loc[['Turkey','South Africa','Japan','Indonesia',  
                         'Germany','Canada','Australia','Mexico',
                        'Italy','India','France','Brazil','Argentina'],
                  ['2009','2010','2011','2012','2013','2014','2015']]
EducationPercentData_G20

                 2009     2010     2011     2012     2013     2014     2015
Country Name
Turkey            NaN      NaN      NaN  4.41900  4.36410  4.37116  4.29187
South Africa  5.24869  5.72174  5.96275  6.37164  6.01354  6.04662  5.95619
Japan             NaN  3.63950  3.64258  3.69226  3.66538  3.59059      NaN
Indonesia     3.52513  2.81228  3.18944  3.40748  3.35904  3.28801  3.58360
Germany       4.88048  4.91368  4.80780  4.93331  4.93497  4.93113  4.81341
Canada        4.85264  5.36993  5.27444      NaN      NaN      NaN      NaN
Australia     5.09327  5.55917  5.08313  4.87765  5.23801  5.17368  5.32175
Mexico        5.18794  5.15922  5.10565  5.10310  4.69605  5.26134  5.23946
Italy         4.53631  4.35239  4.14407      NaN  4.16472  4.07525  4.08036
India         3.31124  3.42347  3.83972  3.86750  3.84467      NaN      NaN
France        5.74618  5.69251  5.51830  5.45642  5.50028  5.51206  5.46424
Brazil        5.46355  5.64880  5.73741  5.85510  5.83885  5.94848  6.24106
Argentina     5.53105  5.01971  5.29063  5.34583  5.43661  5.36144  5.77611

In [27]:
#We need to replace NAN's by Zero
EducationPercentData_G20[np.isnan(EducationPercentData_G20)]=0
EducationPercentData_G20

                 2009     2010     2011     2012     2013     2014     2015
Country Name
Turkey        0.00000  0.00000  0.00000  4.41900  4.36410  4.37116  4.29187
South Africa  5.24869  5.72174  5.96275  6.37164  6.01354  6.04662  5.95619
Japan         0.00000  3.63950  3.64258  3.69226  3.66538  3.59059  0.00000
Indonesia     3.52513  2.81228  3.18944  3.40748  3.35904  3.28801  3.58360
Germany       4.88048  4.91368  4.80780  4.93331  4.93497  4.93113  4.81341
Canada        4.85264  5.36993  5.27444  0.00000  0.00000  0.00000  0.00000
Australia     5.09327  5.55917  5.08313  4.87765  5.23801  5.17368  5.32175
Mexico        5.18794  5.15922  5.10565  5.10310  4.69605  5.26134  5.23946
Italy         4.53631  4.35239  4.14407  0.00000  4.16472  4.07525  4.08036
India         3.31124  3.42347  3.83972  3.86750  3.84467  0.00000  0.00000
France        5.74618  5.69251  5.51830  5.45642  5.50028  5.51206  5.46424
Brazil        5.46355  5.64880  5.73741  5.85510  5.83885  5.94848  6.24106
Argentina     5.53105  5.01971  5.29063  5.34583  5.43661  5.36144  5.77611

In [28]:
#Education Expedniture for G20 Countries i million dollars
EducationExpenditureData_Millions_G20 = (EducationPercentData_G20 * GDP_G20_Millions)/100
EducationExpenditureData_Millions_G20

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,
Argentina,18417.095850,21264.868070,28048.977624,29187.289635,30011.453977,28218.313515,34353.372950,NaN,NaN,NaN
Australia,47255.623061,63715.785738,70993.530384,75415.872486,82560.700001,75922.910956,71924.520559,NaN,NaN,NaN
Brazil,91078.459386,124774.741551,150102.210967,144339.262076,144383.459762,146094.314874,112477.280394,NaN,NaN,NaN
Canada,66537.119181,86646.119556,94367.150902,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
France,154585.014837,150430.812834,157901.087060,146440.776347,154617.145931,157213.088025,133229.531150,NaN,NaN,NaN
Germany,166815.050492,167905.092106,180662.617960,174835.712588,185185.415633,192251.272249,162760.132566,NaN,NaN,NaN
India,44433.089145,57364.187545,70000.012687,70683.894202,71384.838385,0.000000,0.000000,NaN,NaN,NaN
Indonesia,19020.899472,21235.362053,28480.713916,31276.233613,30652.050762,29290.078234,30849.572368,NaN,NaN,NaN
Italy,99125.639915,92490.822517,94331.150651,0.000000,88728.998130,87688.493713,74763.335912,NaN,NaN,NaN
Japan,0.000000,207455.070886,224290.391709,229038.756794,188976.621837,174158.463384,0.000000,NaN,NaN,NaN
Mexico,46693.812764,54574.296002,60271.667362,61292.823127,59848.484480,69163.679844,61331.265035,NaN,NaN,NaN
Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Africa,15532.788738,21476.519211,24830.016465,25252.585427,22048.236882,21201.639090,18913.096953,NaN,NaN,NaN
Turkey,0.000000,0.000000,0.000000,38621.275478,41484.236168,40834.761059,36901.364039,NaN,NaN,NaN

In [29]:
#Select the countries that gives more information and based on them select the percapita 
#for the 10 military countries
EducationPercentData_10Countries = EducationPercentData_G20.loc[['Turkey','South Africa','Japan','Indonesia',  
                         'Germany','Canada','Australia','Mexico',
                        'Italy','India','France','Brazil','Argentina',],:]
EducationPercentData_10Countries

                 2009     2010     2011     2012     2013     2014     2015
Country Name
Turkey        0.00000  0.00000  0.00000  4.41900  4.36410  4.37116  4.29187
South Africa  5.24869  5.72174  5.96275  6.37164  6.01354  6.04662  5.95619
Japan         0.00000  3.63950  3.64258  3.69226  3.66538  3.59059  0.00000
Indonesia     3.52513  2.81228  3.18944  3.40748  3.35904  3.28801  3.58360
Germany       4.88048  4.91368  4.80780  4.93331  4.93497  4.93113  4.81341
Canada        4.85264  5.36993  5.27444  0.00000  0.00000  0.00000  0.00000
Australia     5.09327  5.55917  5.08313  4.87765  5.23801  5.17368  5.32175
Mexico        5.18794  5.15922  5.10565  5.10310  4.69605  5.26134  5.23946
Italy         4.53631  4.35239  4.14407  0.00000  4.16472  4.07525  4.08036
India         3.31124  3.42347  3.83972  3.86750  3.84467  0.00000  0.00000
France        5.74618  5.69251  5.51830  5.45642  5.50028  5.51206  5.46424
Brazil        5.46355  5.64880  5.73741  5.85510  5.83885  5.94848  6.24106
Argentina     5.53105  5.01971  5.29063  5.34583  5.43661  5.36144  5.77611

In [30]:
#GDP for 10 countries in millions
GDP_10Countries_Millions = GDP_G20_Millions.loc[['Turkey','South Africa','Japan','Indonesia',  
                         'Germany','Canada','Australia','Mexico',
                        'Italy','India','France','Brazil','Argentina',],:]
GDP_10Countries_Millions

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,
Turkey,6.446399e+05,7.719018e+05,8.325237e+05,8.739822e+05,9.505794e+05,9.341859e+05,8.597969e+05,8.637216e+05,8.515492e+05,7.665091e+05
South Africa,2.959365e+05,3.753494e+05,4.164189e+05,3.963279e+05,3.666432e+05,3.506362e+05,3.175368e+05,2.957466e+05,3.488716e+05,3.662982e+05
Japan,5.231383e+06,5.700098e+06,6.157460e+06,6.203213e+06,5.155717e+06,4.850414e+06,4.389476e+06,4.926667e+06,4.859951e+06,4.970916e+06
Indonesia,5.395801e+05,7.550942e+05,8.929691e+05,9.178699e+05,9.125241e+05,8.908148e+05,8.608542e+05,9.318774e+05,1.015423e+06,1.042173e+06
Germany,3.418005e+06,3.417095e+06,3.757698e+06,3.543984e+06,3.752514e+06,3.898727e+06,3.381389e+06,3.495163e+06,3.693204e+06,3.996759e+06
Canada,1.371153e+06,1.613543e+06,1.789141e+06,1.823967e+06,1.842018e+06,1.801480e+06,1.552900e+06,1.526706e+06,1.646867e+06,1.709327e+06
Australia,9.278052e+05,1.146138e+06,1.396650e+06,1.546152e+06,1.576184e+06,1.467484e+06,1.351520e+06,1.210028e+06,1.330803e+06,1.432195e+06
Mexico,9.000454e+05,1.057801e+06,1.180490e+06,1.201090e+06,1.274443e+06,1.314564e+06,1.170565e+06,1.077828e+06,1.158071e+06,1.223809e+06
Italy,2.185160e+06,2.125058e+06,2.276292e+06,2.072823e+06,2.130491e+06,2.151733e+06,1.832273e+06,1.869202e+06,1.946570e+06,2.073902e+06
India,1.341887e+06,1.675615e+06,1.823050e+06,1.827638e+06,1.856722e+06,2.039127e+06,2.103588e+06,2.290432e+06,2.652551e+06,2.726323e+06
France,2.690222e+06,2.642610e+06,2.861408e+06,2.683825e+06,2.811078e+06,2.852166e+06,2.438208e+06,2.471286e+06,2.586285e+06,2.777535e+06
Brazil,1.667020e+06,2.208872e+06,2.616202e+06,2.465189e+06,2.472806e+06,2.455994e+06,1.802214e+06,1.796275e+06,2.053595e+06,1.868626e+06
Argentina,3.329765e+05,4.236274e+05,5.301633e+05,5.459824e+05,5.520251e+05,5.263197e+05,5.947493e+05,5.575314e+05,6.426959e+05,5.184751e+05

In [31]:
#Education Expenditure Data of 10 countries in millions

EducationExpenditureData_Millions_10Countries = (EducationPercentData_10Countries * GDP_10Countries_Millions)/100
EducationExpenditureData_Millions_10Countries

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,
Turkey,0.000000,0.000000,0.000000,38621.275478,41484.236168,40834.761059,36901.364039,NaN,NaN,NaN
South Africa,15532.788738,21476.519211,24830.016465,25252.585427,22048.236882,21201.639090,18913.096953,NaN,NaN,NaN
Japan,0.000000,207455.070886,224290.391709,229038.756794,188976.621837,174158.463384,0.000000,NaN,NaN,NaN
Indonesia,19020.899472,21235.362053,28480.713916,31276.233613,30652.050762,29290.078234,30849.572368,NaN,NaN,NaN
Germany,166815.050492,167905.092106,180662.617960,174835.712588,185185.415633,192251.272249,162760.132566,NaN,NaN,NaN
Canada,66537.119181,86646.119556,94367.150902,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
Australia,47255.623061,63715.785738,70993.530384,75415.872486,82560.700001,75922.910956,71924.520559,NaN,NaN,NaN
Mexico,46693.812764,54574.296002,60271.667362,61292.823127,59848.484480,69163.679844,61331.265035,NaN,NaN,NaN
Italy,99125.639915,92490.822517,94331.150651,0.000000,88728.998130,87688.493713,74763.335912,NaN,NaN,NaN
India,44433.089145,57364.187545,70000.012687,70683.894202,71384.838385,0.000000,0.000000,NaN,NaN,NaN
France,154585.014837,150430.812834,157901.087060,146440.776347,154617.145931,157213.088025,133229.531150,NaN,NaN,NaN
Brazil,91078.459386,124774.741551,150102.210967,144339.262076,144383.459762,146094.314874,112477.280394,NaN,NaN,NaN
Argentina,18417.095850,21264.868070,28048.977624,29187.289635,30011.453977,28218.313515,34353.372950,NaN,NaN,NaN

In [32]:
#Education Per Person expenditure for countries in million dollars(US dollars)
Education_Per_Person_G20 = EducationExpenditureData_Millions_G20/PopulationData_Millions
Education_Per_Person_G20

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,
Argentina,451.405969,515.838476,673.333632,693.338494,705.489114,656.522077,791.228497,NaN,NaN,NaN
Australia,2178.511738,2891.998400,3177.862763,3316.080263,3566.968510,3230.193379,3015.604039,NaN,NaN,NaN
Brazil,467.318268,634.030016,755.471906,719.677676,713.326593,715.401173,546.106667,NaN,NaN,NaN
Canada,1978.588956,2548.020038,2747.801748,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
France,2388.998249,2313.341227,2416.504152,2230.296176,2342.731594,2370.662735,2000.642694,NaN,NaN,NaN
Germany,2036.756431,2053.208553,2250.546948,2173.875331,2296.286520,2373.985395,1992.494615,NaN,NaN,NaN
India,36.592425,46.600396,56.124110,55.962161,55.832120,0.000000,0.000000,NaN,NaN,NaN
Indonesia,79.472138,87.559793,115.913078,125.666295,121.619551,114.804022,119.496901,NaN,NaN,NaN
Italy,1677.384342,1560.304534,1588.616133,0.000000,1473.072928,1442.502620,1231.065691,NaN,NaN,NaN
Japan,0.000000,1619.856882,1754.557835,1794.566727,1482.809226,1368.352740,0.000000,NaN,NaN,NaN
Mexico,404.257137,465.178901,506.101761,507.272051,488.415646,556.776598,487.177716,NaN,NaN,NaN
Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Africa,304.738855,416.335359,475.092729,476.479941,410.067039,388.738648,342.063265,NaN,NaN,NaN
Turkey,0.000000,0.000000,0.000000,517.920670,547.376910,530.110712,471.453559,NaN,NaN,NaN

In [33]:
#Population data of 10 Countries in Million dollars
PopulationData_Millions_10Countries = PopulationData_Millions.loc[['Turkey','South Africa','Japan','Indonesia',  
                         'Germany','Canada','Australia','Mexico',
                        'Italy','India','France','Brazil','Argentina',],:]
PopulationData_Millions_10Countries

,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Name,,,,,,,,,
Turkey,71.339185,72.326914,73.409455,74.569867,75.787333,77.030628,78.271472,79.512426,80.745020
South Africa,50.970818,51.584663,52.263516,52.998213,53.767396,54.539571,55.291225,56.015473,56.717156
Japan,128.047000,128.070000,127.833000,127.629000,127.445000,127.276000,127.141000,126.994511,126.785797
Indonesia,239.340478,242.524123,245.707511,248.883232,252.032263,255.131116,258.162113,261.115456,263.991379
Germany,81.902307,81.776930,80.274983,80.425823,80.645605,80.982500,81.686611,82.348669,82.695000
Canada,33.628571,34.005274,34.342780,34.750545,35.152370,35.535348,35.832513,36.264604,36.708083
Australia,21.691700,22.031750,22.340024,22.742475,23.145901,23.504138,23.850784,24.210809,24.598933
Mexico,115.505228,117.318941,119.090017,120.828307,122.535969,124.221600,125.890949,127.540423,129.163276
Italy,59.095365,59.277417,59.379449,59.539717,60.233948,60.789140,60.730582,60.627498,60.551416
India,1214.270132,1230.980691,1247.236029,1263.065852,1278.562207,1293.859294,1309.053980,1324.171354,1339.180127
France,64.707044,65.027507,65.342775,65.659789,65.998660,66.316092,66.593366,66.859768,67.118648
Brazil,194.895996,196.796269,198.686688,200.560983,202.408632,204.213133,205.962108,207.652865,209.288278
Argentina,40.799407,41.223889,41.656879,42.096739,42.539925,42.981515,43.417765,43.847430,44.271041

In [39]:
#Education Data Per Person for 10 Countries in US dollars
EducationData_Per_Person_10Countries = EducationExpenditureData_Millions_10Countries/PopulationData_Millions_10Countries
EducationData_Per_Person_10Countries

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,
Turkey,0.000000,0.000000,0.000000,517.920670,547.376910,530.110712,471.453559,NaN,NaN,NaN
South Africa,304.738855,416.335359,475.092729,476.479941,410.067039,388.738648,342.063265,NaN,NaN,NaN
Japan,0.000000,1619.856882,1754.557835,1794.566727,1482.809226,1368.352740,0.000000,NaN,NaN,NaN
Indonesia,79.472138,87.559793,115.913078,125.666295,121.619551,114.804022,119.496901,NaN,NaN,NaN
Germany,2036.756431,2053.208553,2250.546948,2173.875331,2296.286520,2373.985395,1992.494615,NaN,NaN,NaN
Canada,1978.588956,2548.020038,2747.801748,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
Australia,2178.511738,2891.998400,3177.862763,3316.080263,3566.968510,3230.193379,3015.604039,NaN,NaN,NaN
Mexico,404.257137,465.178901,506.101761,507.272051,488.415646,556.776598,487.177716,NaN,NaN,NaN
Italy,1677.384342,1560.304534,1588.616133,0.000000,1473.072928,1442.502620,1231.065691,NaN,NaN,NaN
India,36.592425,46.600396,56.124110,55.962161,55.832120,0.000000,0.000000,NaN,NaN,NaN
France,2388.998249,2313.341227,2416.504152,2230.296176,2342.731594,2370.662735,2000.642694,NaN,NaN,NaN
Brazil,467.318268,634.030016,755.471906,719.677676,713.326593,715.401173,546.106667,NaN,NaN,NaN
Argentina,451.405969,515.838476,673.333632,693.338494,705.489114,656.522077,791.228497,NaN,NaN,NaN